/* 画面表示高さを100%に */
html {
  height: 100%;
}

/* 背景色をウクライナ国旗カラーに */
body {
  background: linear-gradient(
    to bottom,
    #005bbb 0%,
    #005bbb 50%,
    #ffd500 50%,
    #ffd500 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* スクロールバー非表示 */
::-webkit-scrollbar {
  display: none;
}
